.content {
  position: -webkit-sticky;
  top: 78px;
  left: 0;
}

.sidebar {
  z-index: 1;
  border-right: 1px solid blue;
}

#sidebar {
  padding: 40px 16px;
}
.learnCard {
  display: flex;
}

#content1 {
  padding: 10px 20px;
}
